body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
}

footer {
    background-color: #343a40;
}

#banner {
    background-image: url('tu-imagen-de-fondo.jpg'); /* Asegúrate de reemplazar 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen real */
    background-size: cover;
    color: white;
}